<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Flask Auth Example</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" rel="stylesheet"/>
</head>

<body>
<section class="hero is-primary is-fullheight">

    <div class="hero-head">
        <nav class="navbar">
            <div class="container">

                <div class="navbar-menu" id="navbarMenuHeroA">
                    <div class="navbar-end">
                        <a class="navbar-item" href="{{ url_for('login_out_bp.index') }}">
                            Home
                        </a>
                        <a class="navbar-item" href="{{ url_for('login_out_bp.profile') }}">
                            Profile
                        </a>
                        <a class="navbar-item" href="{{ url_for('login_out_bp.login') }}">
                            Login
                        </a>
                        <a class="navbar-item" href="{{ url_for('login_out_bp.signup') }}">
                            Sign Up
                        </a>

                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="hero-body">
        <div class="container has-text-centered">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</section>
</body>

</html>