<!DOCTYPE html>
<html>
<head>
    <title>Get Wi-Fi Pass</title>
    <style>
        /* CSS styles */
        .form-container {
            text-align: center;
            padding: 20px;
            background-color: #ffffff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        .form-container input[type="text"],
        .form-container input[type="submit"],
        .form-container input[type="reset"]
        {
            margin: 10px;
        }

        .error-message {
            color: red;
        }
    </style>
</head>
<body>
    <div class="form-container">
         <img src="https://moppowar.oss-ap-southeast-1.aliyuncs.com/midplatform-v2/static/80-48.png"
                                         alt="" width="80" height="48" border="0"/>
        <h1>Get Wi-Fi Pass - {{ wifi_name }}</h1>
        <form method="POST" id="phone_number_form">
            <label for="phone_number">Phone Number:</label>
            <input type="text" id="phone_number" name="phone_number" maxlength="11" pattern="\d{11}" required placeholder="Enter 11-digit phone number">
            <br>
            {% if error_message %}
            <div class="error-message">{{ error_message }}</div>
            {% endif %}
            <br>
            <input type="submit" value="Submit" id="submit_button">
            <input type="reset" value="Reset">
        </form>
    </div>

    <script>
        var phoneNumberForm = document.getElementById("phone_number_form");
        var phoneNumberInput = document.getElementById("phone_number");
        var errorMessage = document.getElementById("error_message");

        var submitButton = document.getElementById("submit_button");

        phoneNumberForm.addEventListener("submit", function(event) {
            event.preventDefault(); // Prevent form submission

            // Check if the phone number is valid
            if (phoneNumberInput.validity.tooShort || phoneNumberInput.validity.tooLong || !phoneNumberInput.validity.valid) {
                errorMessage.textContent = "Phone number must be 11 digits long and consist only of numbers.";
                return;
            }

            var phoneNumber = phoneNumberInput.value;


            // Send request to the backend API
            fetch("/v1/wifi/get_wifi_pass", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({ phone_number: phoneNumber})
            })
            .then(function(response) {
                if (response.ok) {
                    return response.json();

                } else {
                    throw new Error("Failed to send Wi-Fi pass.");
                }
            })
            .then(function(data) {
                if (data.code === 200) {
                    alert(data.message);
                } else {
                    throw new Error(data.message);
                }
            })
            .catch(function(error) {
                console.log(error);
                 alert("An error occurred while sending Wi-Fi pass. Please try again later.");
            });
        });

        phoneNumberInput.addEventListener("input", function() {
            if (phoneNumberInput.validity.tooShort || phoneNumberInput.validity.tooLong || !phoneNumberInput.validity.valid) {
                errorMessage.textContent = "Phone number must be 11 digits long and consist only of numbers.";
                submitButton.disabled = true;
            } else {
                errorMessage.textContent = "";
                submitButton.disabled = false;
            }
        });
    </script>
</body>


