<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.=
w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=3Dutf=
-8" />
<link rel="icon" href="https://moppowar.oss-ap-southeast-1.aliyuncs.com/midplatform-v2/static/28-28.png" type="image/x-icon">
<title>傲途</title>
</head>

<style type="text/css">
body{ margin:0 auto; padding:0; font-family:Microsoft Yahei,Tahoma,Ar
ial; color:#333333;background-color:#fff; font-size:12px;}
{color:#00a2ca; line-height:22px; text-decoration:none;}
:hover{text-decoration:underline;color:#00a2ca;}
td{font-family:'Microsoft YaHei';}
</style>

<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0" style="font-family:'Microsoft YaHei';">
<script type="text/javascript">
(function (d) {
var t=3Dd.createElement("script");t.type="text/javascript";t.async=3Dtrue;t.id="tb-beacon-aplus";t.setAttribute("exparams","category=&userid=&aplus&yunid=&yu=
npk=");t.src=("https:"==3Dd.location.protocol?"https://s":"http://a")
+".tbcdn.cn/s/aplus_v2.js";d.getElementsByTagName("head")[0].appendChild(t);
})(document);
</script>


<!--Not Modify Start--><center><table align="center" width="800" style="font-family:'Microsoft YaHei';margin:10px 0 10px 0;background-color:#fff;color:#333333;border:1px solid #edecec;" cellpadding="0" cellspacing="0"><tbody><tr><td><!--Not Modify End-->
	<div>
        <table width="800" border="0" align="center" cellpadding="0" cellspacing="0" bgcolor="#FAFAFA" height="48">
            <tr>
                <td width="74" height="48" border="0"  align="center" valign="middle" style="padding-left:20px;height:48px;">
                        <a href="http://www.aliyun.com/?&msctype=3Demail&mscareaid=3Dcn&mscsiteid=3Dcn&mscmsgid=3D2550122072500815990&&spm=3Da2c4k.11189618.zh-cnt.7&v=3Dq" target="_blank">
                          <img src="https://moppowar.oss-ap-southeast-1.aliyuncs.com/midplatform-v2/static/80-48.png" alt="" width="80" height="48" border="0"/></a>
                </td>
                <td width="703" height="48" colspan="2" align="right" valign="middle" style="color:	#000000; padding-right:20px;hei=ght:48px;">
                          <a href="https://whatsappmarketing.cn/" target="_blank" style="color:	#000000;text-decoration:none;font-family:'Microsoft YaHei';">&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp; |&nbsp;&nbsp; </a>
                          <a href="https://wascrm.com/" target="_blank" style="color:	#000000;text-decoration:none;font-family:'Microsoft YaHei';">&nbsp;&nbsp;&nbsp;Home&nbsp;&nbsp; |&nbsp;&nbsp; </a>
                          <a href="https://whatsappmarketing.cn/blog/" target="_blank" style="color:#000000;text-decoration:none;font-family:'Microsoft YaHei';">营销干货&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                          <a href="https://whatsappmarketing.cn/contact-us/" target="_blank" style="color:#000000;text-decoration:none;font-family:'Microsoft YaHei';">&nbsp;&nbsp;联系我们&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                          <a href="https://wascrm.com/download/" target="_blank" style="color:#000000;text-decoration:none;">&nbsp;&nbsp;下载&nbsp;&nbsp;|&nbsp;&nbsp;</a>
                          <a href="https://wascrm.com/price/" target="_blank" style="color:#000000;text-decoration:none;font-family:'Microsoft YaHei';">&nbsp;&nbsp; 价格 &nbsp;&nbsp;|&nbsp;&nbsp;</a>
                          <a href="http://login.socialepoch.com/?sourceType=2" target="_blank" style="color:#000000;text-decoration:none;font-family:'Microsoft YaHei';">登陆/注册</a>
                      </td>
                    </tr>
                </table>
          </div>

    <div style="background:#FFF;padding:20px;text-align:left;"><p>{}</p></div>
          <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="font-size:14px;color:#333333;">
                    <tr>
                      <td height="14" style="padding:0 0 16px 20px; border-bottom:1px dashed #e5e5e5;font-family:'Microsoft YaHei';" >上海摩普网络技术有限公司</td>
                    </tr>
                    <tr>
                      <td  height="14"  style="padding:8px 0 28px 20px;color:#999999; font-size:12px;font-family:'Microsoft YaHei';" >此为系统邮件请勿回复</td>
                    </tr>
                </table>

          <table width="100%" height="100"  border="0" align="center" cellpadding="0" cellspacing="0">
                  <tr>
                      <td width="800" height="100" align="center" valign="middle">
                        <img border="0" height="120" src="https://moppowar.oss-ap-southeast-1.aliyuncs.com/midplatform-v2/static/Dingtalk_20220727164036.jpg" />
                    </td>
                  </tr>
                </table>
        <table align="center" border="0" width="100%" cellpadding="0" cellspacing="0" bgcolor="#fff" >
            <tr>
               <td>
                <p style="line-height: 22px; font-family: 'Microsoft YaHei'; font-size: 12px; color: #999; text-align: center;">
                   <a href="https://account.aliyun.com/login/login.htm?&msctype=3Demail&mscareaid=3Dcn&mscsiteid=3Dcn&mscmsgid=3D2550122072500815990&oauth_callback=3Dhttps%3a%2f%2fnotific=
ations.console.aliyun.com%2f%23%2fsubscribeMsg%3fmessageTypeId%3dprod_msg_expire" target="_blank" style="text-decoration:none; color:#00a2ca;"></a>
                 </p>
               </td>
            </tr>
        </table>
<!--Not Modify Start--></td></tr></tbody></table></center><!--Not Modify En=
d-->
<img src="http://ac.mmstat.com/aliyun.12.1?logtype=3D4&type=3Demail&msgid=3D2550122072500815990&areaid=3Dcn&siteId=3Dcn"/></body>
</html>